In [3]:
import pandas as pd

In [8]:
raw_direcciones = pd.read_csv('../datasets/raw/Addresses.csv')
raw_socios = pd.read_csv('../datasets/raw/BusinessPartners.csv')
raw_categoria_productos = pd.read_csv('../datasets/raw/ProductCategories.csv')
raw_texto_categoria_productos = pd.read_csv('../datasets/raw/ProductCategoryText.csv')
raw_productos = pd.read_csv('../datasets/raw/Products.csv')
raw_texto_productos = pd.read_csv('../datasets/raw/ProductTexts.csv')
raw_orden_ventas_item = pd.read_csv('../datasets/raw/SalesOrderItems.csv')
raw_orden_ventas = pd.read_csv('../datasets/raw/SalesOrders.csv')

In [16]:
def eda(df, nombre, id='id'):
    print(f'EDA de {nombre} \n')
    print('Primeras filas:')
    print(df.head())
    print()
    
    print(df.info())
    print()

    print('Filas enteras repeditas:', df.duplicated().sum())
    print()

    print('Filas con id repetido:', df.duplicated(id).sum())
    print()

    print('Valores ausentes:')
    print(df.isna().sum())
    print()

In [32]:
eda(raw_direcciones, "raw_direcciones", "ADDRESSID")

EDA de raw_direcciones

Primeras filas:
    ADDRESSID        CITY POSTALCODE            STREET  BUILDING COUNTRY  \
0  1000000034  West Nyack      10994     Settlers Lane    5027.0      US
1  1000000035   Fair Oaks      95628  Woodland Terrace    4467.0      US
2  1000000036        Dunn      28334     Layman Avenue    2250.0      US
3  1000000037     Chicago      60605  University Drive    4697.0      US
4  1000000038       Ocala      34471    Bagwell Avenue    1565.0      US

  REGION  ADDRESSTYPE  VALIDITY_STARTDATE  VALIDITY_ENDDATE   LATITUDE  \
0   AMER            2            20000101          99991231  41.100057
1   AMER            2            20000101          99991231  38.638355
2   AMER            2            20000101          99991231  35.312013
3   AMER            2            20000101          99991231  41.874591
4   AMER            2            20000101          99991231  29.183977

    LONGITUDE
0  -73.973562
1 -121.286683
2  -78.609950
3  -87.627303
4  -82.118413

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54 entries, 0 to 53
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ADDRESSID           54 non-null     int64
 1   CITY                54 non-null     object
 2   POSTALCODE          54 non-null     object
 3   STREET              54 non-null     object
 4   BUILDING            48 non-null     float64
 5   COUNTRY             54 non-null     object
 6   REGION              54 non-null     object
 7   ADDRESSTYPE         54 non-null     int64
 8   VALIDITY_STARTDATE  54 non-null     int64
 9   VALIDITY_ENDDATE    54 non-null     int64
 10  LATITUDE            54 non-null     float64
 11  LONGITUDE           54 non-null     float64
dtypes: float64(3), int64(4), object(5)
memory usage: 5.2+ KB
None

Filas enteras repeditas: 0

Filas con id repetido: 0

Valores ausentes:
ADDRESSID             0
CITY                  0
POSTALCODE            0
STREET                0
BUILDING              6
COUNTRY               0
REGION                0
ADDRESSTYPE           0
VALIDITY_STARTDATE    0
VALIDITY_ENDDATE      0
LATITUDE              0
LONGITUDE             0
dtype: int64

In [31]:
eda(raw_socios, "raw_socios", "PARTNERID")

EDA de raw_socios

Primeras filas:
   PARTNERID  PARTNERROLE                      EMAILADDRESS  PHONENUMBER  \
0  100000000            2         maria.brown@all4bikes.com    622734567
1  100000001            2          bob.buyer@amazebikes.com      3088530
2  100000002            2  victor.sanchez@arenasportusa.com   3023352668
3  100000003            2     franklin.jones@atlantausa.com    511403266
4  100000004            2       robert_brown@bikeworlds.com   2244668800

   FAXNUMBER                    WEBADDRESS   ADDRESSID       COMPANYNAME  \
0        NaN      http://www.all4bikes.com  1000000034     All For Bikes
1        NaN     http://www.amazebikes.com  1000000035   Amaze Bikes Inc
2        NaN  http://www.arenasportusa.com  1000000036  Arena Sports Inc
3        NaN     http://www.atlantausa.com  1000000037  Atlanta Corp Inc
4        NaN     http://www.bikeworlds.com  1000000038    Bike World Inc

  LEGALFORM  CREATEDBY  CREATEDAT  CHANGEDBY  CHANGEDAT CURRENCY
0      Inc.         10   20181003         10   20181003      USD
1      Inc.         13   20181003         13   20181003      USD
2      Inc.         14   20181003         14   20181003      USD
3      Inc.         10   20181003         10   20181003      USD
4      Inc.          4   20181003          4   20181003      USD

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40 entries, 0 to 39
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   PARTNERID     40 non-null     int64
 1   PARTNERROLE   40 non-null     int64
 2   EMAILADDRESS  40 non-null     object
 3   PHONENUMBER   40 non-null     int64
 4   FAXNUMBER     0 non-null      float64
 5   WEBADDRESS    40 non-null     object
 6   ADDRESSID     40 non-null     int64
 7   COMPANYNAME   40 non-null     object
 8   LEGALFORM     40 non-null     object
 9   CREATEDBY     40 non-null     int64
 10  CREATEDAT     40 non-null     int64
 11  CHANGEDBY     40 non-null     int64
 12  CHANGEDAT     40 non-null     int64
 13  CURRENCY      40 non-null     object
dtypes: float64(1), int64(8), object(5)
memory usage: 4.5+ KB
None

Filas enteras repeditas: 0

Filas con id repetido: 0

Valores ausentes:
PARTNERID        0
PARTNERROLE      0
EMAILADDRESS     0
PHONENUMBER      0
FAXNUMBER       40
WEBADDRESS       0
ADDRESSID        0
COMPANYNAME      0
LEGALFORM        0
CREATEDBY        0
CREATEDAT        0
CHANGEDBY        0
CHANGEDAT        0
CURRENCY         0
dtype: int64

In [25]:
eda(raw_categoria_productos, "raw_categoria_productos", "PRODCATEGORYID")

EDA de raw_categoria_productos

Primeras filas:
  PRODCATEGORYID  CREATEDBY  CREATEDAT
0             RO         12   20181003
1             BX          4   20181003
2             CC          7   20181003
3             MB         11   20181003
4             RC          9   20181003

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   PRODCATEGORYID  9 non-null      object
 1   CREATEDBY       9 non-null      int64
 2   CREATEDAT       9 non-null      int64
dtypes: int64(2), object(1)
memory usage: 348.0+ bytes
None

Filas enteras repeditas: 0

Filas con id repetido: 0

Valores ausentes:
PRODCATEGORYID    0
CREATEDBY         0
CREATEDAT         0
dtype: int64

In [26]:
eda(raw_texto_categoria_productos, "raw_texto_categoria_productos", "PRODCATEGORYID")

EDA de raw_texto_categoria_productos

Primeras filas:
  PRODCATEGORYID LANGUAGE       SHORT_DESCR  MEDIUM_DESCR  LONG_DESCR
0             RO       EN         Road Bike           NaN         NaN
1             BX       EN               BMX           NaN         NaN
2             CC       EN  Cyclo-cross Bike           NaN         NaN
3             MB       EN     Mountain Bike           NaN         NaN
4             RC       EN       Racing Bike           NaN         NaN

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   PRODCATEGORYID  9 non-null      object
 1   LANGUAGE        9 non-null      object
 2   SHORT_DESCR     9 non-null      object
 3   MEDIUM_DESCR    0 non-null      float64
 4   LONG_DESCR      0 non-null      float64
dtypes: float64(2), object(3)
memory usage: 492.0+ bytes
None

Filas enteras repeditas: 0

Filas con id repetido: 0

Valores ausentes:
PRODCATEGORYID    0
LANGUAGE          0
SHORT_DESCR       0
MEDIUM_DESCR      9
LONG_DESCR        9
dtype: int64

In [27]:
eda(raw_productos, "raw_productos", "PRODUCTID")

EDA de raw_productos

Primeras filas:
  PRODUCTID TYPECODE PRODCATEGORYID  CREATEDBY  CREATEDAT  CHANGEDBY  \
0   RO-1001       PR             RO          9   20181003          9
1   RO-1002       PR             RO          9   20181003          9
2   RO-1003       PR             RO         12   20181003         12
3   BX-1011       PR             BX          9   20181003          9
4   BX-1012       PR             BX          6   20181003          6

   CHANGEDAT  SUPPLIER_PARTNERID  TAXTARIFFCODE QUANTITYUNIT  WEIGHTMEASURE  \
0   20181003           100000000              1           EA            7.7
1   20181003           100000001              1           EA            8.0
2   20181003           100000002              1           EA            9.1
3   20181003           100000003              1           EA           11.1
4   20181003           100000004              1           EA           12.0

  WEIGHTUNIT CURRENCY  PRICE  WIDTH  DEPTH  HEIGHT  DIMENSIONUNIT  \
0         KG      USD    525    NaN    NaN     NaN            NaN
1         KG      USD    689    NaN    NaN     NaN            NaN
2         KG      USD    721    NaN    NaN     NaN            NaN
3         KG      USD    249    NaN    NaN     NaN            NaN
4         KG      USD    399    NaN    NaN     NaN            NaN

   PRODUCTPICURL
0            NaN
1            NaN
2            NaN
3            NaN
4            NaN

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42 entries, 0 to 41
Data columns (total 19 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   PRODUCTID           42 non-null     object
 1   TYPECODE            42 non-null     object
 2   PRODCATEGORYID      42 non-null     object
 3   CREATEDBY           42 non-null     int64
 4   CREATEDAT           42 non-null     int64
 5   CHANGEDBY           42 non-null     int64
 6   CHANGEDAT           42 non-null     int64
 7   SUPPLIER_PARTNERID  42 non-null     int64
 8   TAXTARIFFCODE       42 non-null     int64
 9   QUANTITYUNIT        42 non-null     object
 10  WEIGHTMEASURE       42 non-null     float64
 11  WEIGHTUNIT          42 non-null     object
 12  CURRENCY            42 non-null     object
 13  PRICE               42 non-null     int64
 14  WIDTH               0 non-null      float64
 15  DEPTH               0 non-null      float64
 16  HEIGHT              0 non-null      float64
 17  DIMENSIONUNIT       0 non-null      float64
 18  PRODUCTPICURL       0 non-null      float64
dtypes: float64(6), int64(7), object(6)
memory usage: 6.4+ KB
None

Filas enteras repeditas: 0

Filas con id repetido: 0

Valores ausentes:
PRODUCTID              0
TYPECODE               0
PRODCATEGORYID         0
CREATEDBY              0
CREATEDAT              0
CHANGEDBY              0
CHANGEDAT              0
SUPPLIER_PARTNERID     0
TAXTARIFFCODE          0
QUANTITYUNIT           0
WEIGHTMEASURE          0
WEIGHTUNIT             0
CURRENCY               0
PRICE                  0
WIDTH                 42
DEPTH                 42
HEIGHT                42
DIMENSIONUNIT         42
PRODUCTPICURL         42
dtype: int64

In [28]:
eda(raw_texto_productos, "raw_texto_productos", "PRODUCTID")

EDA de raw_texto_productos

Primeras filas:
  PRODUCTID LANGUAGE       SHORT_DESCR MEDIUM_DESCR  LONG_DESCR
0   RO-1001       EN        Roady 1001          NaN         NaN
1   RO-1002       EN        Roady 1002          NaN         NaN
2   RO-1003       EN        Roady 1003          NaN         NaN
3   BX-1011       EN  BMX Vintage 1011          NaN         NaN
4   BX-1012       EN     BMX Jump 1012          NaN         NaN

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44 entries, 0 to 43
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   PRODUCTID     44 non-null     object
 1   LANGUAGE      44 non-null     object
 2   SHORT_DESCR   44 non-null     object
 3   MEDIUM_DESCR  36 non-null     object
 4   LONG_DESCR    0 non-null      float64
dtypes: float64(1), object(4)
memory usage: 1.8+ KB
None

Filas enteras repeditas: 0

Filas con id repetido: 2

Valores ausentes:
PRODUCTID        0
LANGUAGE         0
SHORT_DESCR      0
MEDIUM_DESCR     8
LONG_DESCR      44
dtype: int64

In [30]:
eda(raw_orden_ventas, "raw_orden_ventas", "SALESORDERID")

EDA de raw_orden_ventas

Primeras filas:
   SALESORDERID  CREATEDBY  CREATEDAT  CHANGEDBY  CHANGEDAT FISCVARIANT  \
0     500000000          4   20180111          4   20180116          K4
1     500000001          2   20180112          2   20180115          K4
2     500000002          5   20180115          5   20180120          K4
3     500000003          3   20180115          3   20180120          K4
4     500000004          8   20180116          8   20180117          K4

   FISCALYEARPERIOD  NOTEID  PARTNERID SALESORG CURRENCY  GROSSAMOUNT  \
0           2018001     NaN  100000022      APJ      USD        13587
1           2018001     NaN  100000026     EMEA      USD        12622
2           2018001     NaN  100000018      APJ      USD        45655
3           2018001     NaN  100000009     EMEA      USD       101786
4           2018001     NaN  100000025     EMEA      USD        71684

   NETAMOUNT  TAXAMOUNT LIFECYCLESTATUS BILLINGSTATUS DELIVERYSTATUS
0  11888.625   1698.375               C             C              C
1  11044.250   1577.750               C             C              C
2  39948.125   5706.875               C             C              C
3  89062.750  12723.250               C             C              C
4  62723.500   8960.500               C             C              C

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 334 entries, 0 to 333
Data columns (total 17 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   SALESORDERID      334 non-null    int64
 1   CREATEDBY         334 non-null    int64
 2   CREATEDAT         334 non-null    int64
 3   CHANGEDBY         334 non-null    int64
 4   CHANGEDAT         334 non-null    int64
 5   FISCVARIANT       334 non-null    object
 6   FISCALYEARPERIOD  334 non-null    int64
 7   NOTEID            0 non-null      float64
 8   PARTNERID         334 non-null    int64
 9   SALESORG          334 non-null    object
 10  CURRENCY          334 non-null    object
 11  GROSSAMOUNT       334 non-null    int64
 12  NETAMOUNT         334 non-null    float64
 13  TAXAMOUNT         334 non-null    float64
 14  LIFECYCLESTATUS   334 non-null    object
 15  BILLINGSTATUS     334 non-null    object
 16  DELIVERYSTATUS    334 non-null    object
dtypes: float64(3), int64(8), object(6)
memory usage: 44.5+ KB
None

Filas enteras repeditas: 0

Filas con id repetido: 0

Valores ausentes:
SALESORDERID          0
CREATEDBY             0
CREATEDAT             0
CHANGEDBY             0
CHANGEDAT             0
FISCVARIANT           0
FISCALYEARPERIOD      0
NOTEID              334
PARTNERID             0
SALESORG              0
CURRENCY              0
GROSSAMOUNT           0
NETAMOUNT             0
TAXAMOUNT             0
LIFECYCLESTATUS       0
BILLINGSTATUS         0
DELIVERYSTATUS        0
dtype: int64

In [36]:
eda(raw_orden_ventas_item, "raw_orden_ventas_item", "PRODUCTID")

EDA de raw_orden_ventas_item

Primeras filas:
   SALESORDERID  SALESORDERITEM PRODUCTID NOTEID CURRENCY  GROSSAMOUNT  \
0     500000000              10   MB-1034             USD         2499
1     500000000              20   CB-1161             USD          399
2     500000001              10   HB-1175             USD          899
3     500000001              20   RC-1056             USD         2499
4     500000001              30   CC-1021             USD         1144

   NETAMOUNT  TAXAMOUNT ITEMATPSTATUS  OPITEMPOS  QUANTITY QUANTITYUNIT  \
0   2186.625    312.375             I        NaN         4           EA
1    349.125     49.875             I        NaN         9           EA
2    786.625    112.375             I        NaN         2           EA
3   2186.625    312.375             I        NaN         2           EA
4   1001.000    143.000             I        NaN         3           EA

   DELIVERYDATE
0      20180311
1      20180311
2      20180228
3      20180228
4      20180228

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1930 entries, 0 to 1929
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   SALESORDERID    1930 non-null   int64
 1   SALESORDERITEM  1930 non-null   int64
 2   PRODUCTID       1930 non-null   object
 3   NOTEID          1930 non-null   object
 4   CURRENCY        1930 non-null   object
 5   GROSSAMOUNT     1930 non-null   int64
 6   NETAMOUNT       1930 non-null   float64
 7   TAXAMOUNT       1930 non-null   float64
 8   ITEMATPSTATUS   1930 non-null   object
 9   OPITEMPOS       0 non-null      float64
 10  QUANTITY        1930 non-null   int64
 11  QUANTITYUNIT    1930 non-null   object
 12  DELIVERYDATE    1930 non-null   int64
dtypes: float64(3), int64(5), object(5)
memory usage: 196.1+ KB
None

Filas enteras repeditas: 0

Filas con id repetido: 1888

Valores ausentes:
SALESORDERID         0
SALESORDERITEM       0
PRODUCTID            0
NOTEID               0
CURRENCY             0
GROSSAMOUNT          0
NETAMOUNT            0
TAXAMOUNT            0
ITEMATPSTATUS        0
OPITEMPOS         1930
QUANTITY             0
QUANTITYUNIT         0
DELIVERYDATE         0
dtype: int64

1. Debido a la irrelevancia del tema del proyecto("Prediccion de ventas e inventario"). Se descartan los datos de los archivos: "Adrdresses", "BusinessPartners". Ya que estos no aportan informacion útil para el modelo.

2. De la misma manera se descartan también los archivos: "ProductTexts", "ProductCategoryText". Aunque tienen información más concreta sobre la descripción de los productos y sus etiquetas, igualmente no aportan valor para el modelo del proyecto.

3. Finalmente, se decide usar los archivos: "SalesOrderItems", "SalesOrders", "Products", "ProductsCategories", ya que tienen informacion revelante como las cantidades, valores temporales, categorias o tipos de productos.

## SalesOrderItems

In [37]:
eda(raw_orden_ventas_item, "raw_orden_ventas_item", "PRODUCTID")

EDA de raw_orden_ventas_item

Primeras filas:
   SALESORDERID  SALESORDERITEM PRODUCTID NOTEID CURRENCY  GROSSAMOUNT  \
0     500000000              10   MB-1034             USD         2499
1     500000000              20   CB-1161             USD          399
2     500000001              10   HB-1175             USD          899
3     500000001              20   RC-1056             USD         2499
4     500000001              30   CC-1021             USD         1144

   NETAMOUNT  TAXAMOUNT ITEMATPSTATUS  OPITEMPOS  QUANTITY QUANTITYUNIT  \
0   2186.625    312.375             I        NaN         4           EA
1    349.125     49.875             I        NaN         9           EA
2    786.625    112.375             I        NaN         2           EA
3   2186.625    312.375             I        NaN         2           EA
4   1001.000    143.000             I        NaN         3           EA

   DELIVERYDATE
0      20180311
1      20180311
2      20180228
3      20180228
4      20180228

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1930 entries, 0 to 1929
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   SALESORDERID    1930 non-null   int64
 1   SALESORDERITEM  1930 non-null   int64
 2   PRODUCTID       1930 non-null   object
 3   NOTEID          1930 non-null   object
 4   CURRENCY        1930 non-null   object
 5   GROSSAMOUNT     1930 non-null   int64
 6   NETAMOUNT       1930 non-null   float64
 7   TAXAMOUNT       1930 non-null   float64
 8   ITEMATPSTATUS   1930 non-null   object
 9   OPITEMPOS       0 non-null      float64
 10  QUANTITY        1930 non-null   int64
 11  QUANTITYUNIT    1930 non-null   object
 12  DELIVERYDATE    1930 non-null   int64
dtypes: float64(3), int64(5), object(5)
memory usage: 196.1+ KB
None

Filas enteras repeditas: 0

Filas con id repetido: 1888

Valores ausentes:
SALESORDERID         0
SALESORDERITEM       0
PRODUCTID            0
NOTEID               0
CURRENCY             0
GROSSAMOUNT          0
NETAMOUNT            0
TAXAMOUNT            0
ITEMATPSTATUS        0
OPITEMPOS         1930
QUANTITY             0
QUANTITYUNIT         0
DELIVERYDATE         0
dtype: int64